*{
    font-family: Arial;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.media-overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-overlay .media-container{
    width: 800px;
    background-color: white;
    padding:30px;
    border-radius: 10px;
}